{{#> layout}}
<p>You asked to change your cheevo email to <strong>{{newEmail}}</strong>.</p><p>Your confirmation code is:</p><h2>{{code}}</h2><p>It expires in {{ttlMinutes}} minutes. If you didn't request this, secure your account.</p>
{{/layout}}
